<script setup lang="ts">
import { ref } from 'vue';
const message = ref("Hello World!");
const isRed = ref(true);
const color = ref("green")
function togleRed(){
    isRed.value = !isRed.value;

}
function togleColor(){
    color.value = color.value === "green" ? "blue" : "green";
}
</script>


<template>
    <p>
        <span :title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </p>
    <p :class=" {red: isRed}" @click="togleRed">
        This should be red... but click me to toggle it.
    </p>

    <p :style=" {color}" @click="togleColor" >
        This should be green, and should toggle between green and blue on click.
    </p>
</template>

<style >
    .red{
        color: red;
    }
</style>

 