<script setup lang="ts">
import {ref} from 'vue';

const text = ref("Edit Me");
const checked = ref(true);
const checkedName = ref(["Jack"]);
const picked = ref("two");
const selected = ref("2");
const multiSelected = ref(["1"]);

</script>
<template>
    <h2>Text Input</h2>
    <input v-model="text"/> {{text}}

    <h2>Checkbox</h2>
    <input type="checkbox" v-model="checked" id="checkbox"/>
    <label for="checkbox">Checked: {{checked}}</label>

    <h2>Multi Checkbox</h2>
    <input type="checkbox" v-model="checkedName" id="jack"/>
    <label for="jack">Jack</label>
    <input type="checkbox" v-model="checkedName" id="john"/>
    <label for="john">John</label>
    <input type="checkbox" v-model="checkedName" id="mike"/>
    <label for="mike">Mike</label>
    <p>Checked names</p>
    <pre>{{checkedName}}</pre>
    
    <h2> Radio</h2>
    <input type="radio" v-model="picked" id="one"/>
    <label for="one">One</label>
    <input type="radio" v-model="picked" id="two"/>
    <label for="two">Two</label>
    <span> Picked: {{picked}}</span>
    

    <h2>Select</h2>
  <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
  </select>
    <span>Selectted {{selected}}</span>


    <h2>Multiple Select</h2>
  <select v-model="multiSelected" multiple style="width: 100px; ">
    <option disabled value="">Please select one</option>
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
  </select>
    <span>Multiple Selectted {{multiSelected}}</span>
    
</template>

<style>

</style>