<script setup lang="ts">
import {ref} from 'vue';
const massage = ref('Hello World!');
function reversMessage(){
    massage.value = massage.value.split('').reverse().join('');
}
function  notifly(){
    alert("navigation was prevented.");
}
</script>

<template>
    <h1>{{massage}}</h1>
    <button @click="reversMessage">Revers Message </button>
    <button @click = " massage +='!'"> Append "!"</button>
    <a href="https://vuejs.org" @click.prevent="notifly"> A link with e.preventDefualt </a>
</template>

<style scoped>
    button, a {
        display: block;
        margin-bottom: 1em;
    }
</style>